
/* declaring global variables */
:root {
  --white-color:#f9fbfd;
  --white-hsl-color:hsl(0, 0%, 100%);
  --gray-hsl-color: hsl(206, 17%, 28%);
  --red-hsl-color:hsl(360, 91%, 36%);
  --light-gray: #c0c7cf;
  --beige-color: #e7e9eb;;
}
/* Universal selector */
*, 
*::before,
*::after {
  box-sizing:border-box;
} 

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--white-color);
}

.wrapper {
  padding: 30px 20px;
}

header {
  text-align: center;
  padding: 0 20px 20px;
  color: var(--gray-hsl-color);
}

.card {
  background-color: var(--white-hsl-color);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: var(--gray-hsl-color);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: var(--beige-color);
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: var(--beige-color);
  height: 2px;
}

.btn {
  border: none;
  background-color: var(--red-hsl-color);
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px, rgba(0, 0, 0, 0.2) 0 1px 1px 0;
  color: var(--white-hsl-color);
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding: 15px 15px 85px;
  font-size: 1.2rem;
  text-align: center;
  margin: 10px 0 10px;
  border: 2px dashed var(--light-gray);
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    margin: 16px 0 0;
    padding: 10px 15px;
  }

  #password, .btn {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
